<?xml version="1.0" encoding="iso-8859-1"?>
<parametros>
	<parametro>
		<llave>user</llave>
		<dato>Alvaro Ortiz Castellanos</dato>
	</parametro>
	<parametro>
		<llave>ruta</llave>
		<dato>C:/desarrollos/react</dato>
	</parametro>
	<parametro>
		<llave>lsruta</llave>
		<dato>C:/desarrollos/react</dato>
	</parametro>	
        	<parametro>
		<llave>leng</llave>
		<dato>ENG</dato>
	</parametro>
        	<parametro>
		<llave>js</llave>
		<dato>app/controller/ctrls</dato>
	</parametro>
        	<parametro>
		<llave>view</llave>
		<dato>app/views</dato>
	</parametro>
        	<parametro>
		<llave>mod</llave>
		<dato>app/modulos</dato>
	</parametro>
</parametros>